<h1>Welcome to <em>Do You Read Me?</em></h1>
<p>Do You Read Me? is a Web site dedicated to growing a community of co-learners who
  strive to experience beautiful things by reading great books together. Its goals are
  to facilitate great conversations by
  <ul>
    <li>fostering a culture of listening, thoughtfulness, and respect;</li>
    <li>training ourselves in the practices necessary to promote such a culture; and</li>
    <li>providing organizational tools to make great conversations accessible everywhere.</li>
  </ul>
</p>
