  <h1>Jim Berrettini</h1>
  <h2>About Me</h2>
    <div id="profile">
    <p>I'm an experienced software development director who's passionate about
      education, and about homeschooling and great books in particular.</p>
    <p>I have
      management, architecture, and development experience at firms in Internet,
      media and retail industries. I've done software development and project
      management, built teams that value self-development and collaboration.</p>

  </div>
  <h2>Things I'm Jazzed About</h2>
  <div id="enthusiasms">
    <ul>
      <li>Great Books</li>
      <li><a href="https://www.khanacademy.org/">Khan Academy</a></li>
      <li><a href="http://www.sjc.edu/">St. John's College</a></li>
      <li><a href="http://www.conversera.com/">Conversera</a></li>
    </ul>
  </div>
  <h2>My Experience</h2>
  <div id="experience">
    <ul>
      <li>Ralph Lauren, Interactive Development</li>
      <li>Time Inc, Internet Application Development</li>
      <li>Jive Software, Professional Services</li>
      <li>iVillage, Application Development</li>
      <li>AT&amp;T Downtown Digital, Software Development</li>
      <li>Magnet Interactive Studio, Multimedia Development</li>
      <li>Eidolon, Software Development</li>
    </ul>
  </div>
  <h2>Web Technologies</h2>
  <div id="skills">
    <ul>
      <li>Agile Development</li>
      <li>Ruby</li>
      <li>Java EE</li>
      <li>Javascript</li>
      <li>SQL</li>
      <li>HTTP</li>
      <li>HTML</li>
      <li>CSS</li>
    </ul>
  </div>
  <%# <h2>Contact</h2>
  <div id="contact">
    <ul>
      <li><a href="mailto:james.berrettini@me.com">james.berrettini@me.com</a></li>
    </ul>
  </div> %>
