<%# add navigation links to this file %>
<li class="name"><%= link_to 'Seminars', { controller: "/seminars", action: "index" } %></li>
<li class="name"><%= link_to 'About', { controller: "/about", action: "index" } %></li>
